.boxLabel, .light-boxLabel, .dark-boxLabel {
  padding: 2%;
  min-width: 51%;
  text-align: center;
  letter-spacing: 5px;
  font-size: larger;
}

.boxValue, .light-boxValue, .dark-boxValue {
  padding: 2%;
  min-width: 49%;
  text-align: center;
  border-left: 0px;
}

.dark-boxLabel {
  border: 5px solid white;
}

.dark-boxValue {
  border: 2px solid white;
}

.light-boxLabel {
  border: 5px solid rgb(0, 0, 0);
}

.light-boxValue {
  border: 3px solid rgb(0, 0, 0);
}